<!DOCTYPE html >
<html lang="en" data-ng-app="kadhoDashboard" ng-class="bodyClass">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="description" content="{{app.description}}">
  <meta name="keywords" content="app, responsive, angular, bootstrap, dashboard, admin">
  <title data-ng-bind="::pageTitle()">Kadho - Registration</title>
  <!-- Bootstrap styles-->
  <link rel="stylesheet" href="../app/css/bootstrap.css" data-ng-if="!app.layout.isRTL">
  <link rel="stylesheet" href="../app/css/bootstrap-rtl.css" data-ng-if="app.layout.isRTL">
  <!-- ngMaterial styles-->
  <link rel="stylesheet" href="../vendor/angular-material/angular-material.css">
  <!-- Application styles-->
  <link rel="stylesheet" href="../app/css/app.css" data-ng-if="!app.layout.isRTL">
  <link rel="stylesheet" href="../app/css/app-rtl.css" data-ng-if="app.layout.isRTL">
  <!-- Themes-->
  <link rel="stylesheet" ng-href="{{app.layout.theme}}" data-ng-if="app.layout.theme">
  <!--fav icon-->
  <link rel="icon" type="image/png" href="../app/img/favicon.png" />
  <script language="Javascript">
    function trackEvent(category, action, value)
    {
      _czc.push(["_trackEvent",category,action,value]);
    }
  </script>
  <base href="/" />
</head>
<body>

  <div id="cloud-banner" ng-class="bgClass">
  <div style="position: absolute;">
    <script src="https://s95.cnzz.com/z_stat.php?id=1260279865&web_id=1260279865" language="JavaScript"></script>
  </div>
    
    <div data-ui-view="" data-autoscroll="false" class="wrapper"></div>
  </div>

  <script src="../app/js/base.js"></script>
  <script src="../vendor/angular-material/angular-material.js"></script>
  <script src="../app/js/app.js"></script>
  
</body>
</html>